@use "tailwindcss";
/* From Uiverse.io by dovatgabriel */ 
.leap-frog {
 --uib-size: 40px;
 --uib-speed: 2s;
 --uib-color: rgb(37, 37, 149);
 position: relative;
 display: flex;
 align-items: center;
 justify-content: space-between;
 width: var(--uib-size);
 height: var(--uib-size);
}

.leap-frog__dot {
 position: absolute;
 top: 0;
 left: 0;
 display: flex;
 align-items: center;
 justify-content: flex-start;
 width: 100%;
 height: 100%;
}

.leap-frog__dot::before {
 content: '';
 display: block;
 height: calc(var(--uib-size) * 0.22);
 width: calc(var(--uib-size) * 0.22);
 border-radius: 50%;
 background-color: var(--uib-color);
 will-change: transform;
}

.leap-frog__dot:nth-child(1) {
 animation: leapFrog var(--uib-speed) ease infinite;
}

.leap-frog__dot:nth-child(2) {
 transform: translateX(calc(var(--uib-size) * 0.4));
 animation: leapFrog var(--uib-speed) ease calc(var(--uib-speed) / -1.5)
    infinite;
}

.leap-frog__dot:nth-child(3) {
 transform: translateX(calc(var(--uib-size) * 0.8)) rotate(0deg);
 animation: leapFrog var(--uib-speed) ease calc(var(--uib-speed) / -3)
    infinite;
}

@keyframes leapFrog {
 0% {
  transform: translateX(0) rotate(0deg);
 }

 33.333% {
  transform: translateX(0) rotate(180deg);
 }

 66.666% {
  transform: translateX(calc(var(--uib-size) * -0.4)) rotate(180deg);
 }

 99.999% {
  transform: translateX(calc(var(--uib-size) * -0.8)) rotate(180deg);
 }

 100% {
  transform: translateX(0) rotate(0deg);
 }
}














/* From Uiverse.io by dovatgabriel */ 
.three-body {
 --uib-size: 35px;
 --uib-speed: 0.8s;
 --uib-color: #5D3FD3;
 position: relative;
 display: inline-block;
 height: var(--uib-size);
 width: var(--uib-size);
 animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
 position: absolute;
 height: 100%;
 width: 30%;
}

.three-body__dot:after {
 content: '';
 position: absolute;
 height: 0%;
 width: 100%;
 padding-bottom: 100%;
 background-color: var(--uib-color);
 border-radius: 50%;
}

.three-body__dot:nth-child(1) {
 bottom: 5%;
 left: 0;
 transform: rotate(60deg);
 transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
 bottom: 0;
 left: 0;
 animation: wobble1 var(--uib-speed) infinite ease-in-out;
 animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
 bottom: 5%;
 right: 0;
 transform: rotate(-60deg);
 transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
 bottom: 0;
 left: 0;
 animation: wobble1 var(--uib-speed) infinite
    calc(var(--uib-speed) * -0.15) ease-in-out;
}

.three-body__dot:nth-child(3) {
 bottom: -5%;
 left: 0;
 transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
 top: 0;
 left: 0;
 animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
 0% {
  transform: rotate(0deg);
 }

 100% {
  transform: rotate(360deg);
 }
}

@keyframes wobble1 {
 0%,
  100% {
  transform: translateY(0%) scale(1);
  opacity: 1;
 }

 50% {
  transform: translateY(-66%) scale(0.65);
  opacity: 0.8;
 }
}

@keyframes wobble2 {
 0%,
  100% {
  transform: translateY(0%) scale(1);
  opacity: 1;
 }

 50% {
  transform: translateY(66%) scale(0.65);
  opacity: 0.8;
 }
}


// .container {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .loader {
//   position: relative;
//   width: 200px;
//   height: 200px;
//   perspective: 800px;
// }

// .crystal {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   width: 60px;
//   height: 60px;
//   opacity: 0;
//   transform-origin: bottom center;
//   transform: translate(-50%, -50%) rotateX(45deg) rotateZ(0deg);
//   animation: spin 4s linear infinite, emerge 2s ease-in-out infinite alternate,
//     fadeIn 0.3s ease-out forwards;
//   border-radius: 10px;
//   visibility: hidden;
// }

// @keyframes spin {
//   from {
//     transform: translate(-50%, -50%) rotateX(45deg) rotateZ(0deg);
//   }
//   to {
//     transform: translate(-50%, -50%) rotateX(45deg) rotateZ(360deg);
//   }
// }

// @keyframes emerge {
//   0%,
//   100% {
//     transform: translate(-50%, -50%) scale(0.5);
//     opacity: 0;
//   }
//   50% {
//     transform: translate(-50%, -50%) scale(1);
//     opacity: 1;
//   }
// }

// @keyframes fadeIn {
//   to {
//     visibility: visible;
//     opacity: 0.8;
//   }
// }

// .crystal:nth-child(1) {
//   background: linear-gradient(45deg, #003366, #336699);
//   animation-delay: 0s;
// }

// .crystal:nth-child(2) {
//   background: linear-gradient(45deg, #003399, #3366cc);
//   animation-delay: 0.3s;
// }

// .crystal:nth-child(3) {
//   background: linear-gradient(45deg, #0066cc, #3399ff);
//   animation-delay: 0.6s;
// }

// .crystal:nth-child(4) {
//   background: linear-gradient(45deg, #0099ff, #66ccff);
//   animation-delay: 0.9s;
// }

// .crystal:nth-child(5) {
//   background: linear-gradient(45deg, #33ccff, #99ccff);
//   animation-delay: 1.2s;
// }

// .crystal:nth-child(6) {
//   background: linear-gradient(45deg, #66ffff, #ccffff);
//   animation-delay: 1.5s;
// }
