@use "tailwindcss";

// Import colors from globals
@use '../../app/globals.scss' as *;

/* Base checkmark styles (shared by all variants) */
.checkmark {
  position: relative;
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  transition: .4s;
  
  &:after {
    content: "";
    position: absolute;
    display: block;
    left: 0.6em;
    top: 0.3em;
    width: 0.4em;
    height: 0.7em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
  }
}

/* Success variant */
.checkmark-success {
  background-color: $success;
}

/* Error variant */
.checkmark-error {
  background-color: $error;
}

/* Warning variant */
.checkmark-warning {
  background-color: $warning;
}
